/node_modules
/package-lock.json
/package.json
yarn.lock
/yarn-error.log
/yarn-debug.log
/yarn-debug.log.json
/yarn-debug.log.json.gz
/yarn-debug.log.json.gz.part
/yarn-debug.log.json.gz.part.1
/yarn-debug.log.json.gz.part.2
/yarn-debug.log.json.gz.part.3
/yarn-debug.log.json.gz.part.4
/yarn-debug.log.json.gz.part.5